<ion-content color="transparent"  fullscreen>

  <div id="divP" style="height: auto;">
    <ion-header>
      <ion-toolbar color="transparent">
        <ion-title>
          <ion-icon style="font-size: 160%; margin-top: 1%; padding-left: 2%;" name="arrow-back-outline" (click)="volver()"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
  <!-- Contenido -->

      
      <div class="centpadd inpu">
      <ion-title color="transparent" style="margin-top: 5%;">Login</ion-title>
      <h2>Ey!</h2>
      <h4>Bienvenido de vuelta juapo</h4>


      <div class="inpu">
        <ion-item color="transparent" style="margin-top: 10px;">
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input #name [(ngModel)]='clNombre'></ion-input>
        </ion-item>
      </div>

      <div class="inpu">
        <ion-item color="transparent">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input #pass  type="password" [(ngModel)]='clPass'></ion-input>
        </ion-item>
      </div>

      <button class="button" style="margin-top: 5%;" (click)="loguearse(name.value, pass.value)">Iniciar sesión</button>

      <!-- Footer -->
        <ion-footer class="ion-no-border" style="margin-top:40%" >
          <ion-toolbar color="transparent" >
            <p class="footerGris">¿No tienes cuenta? <a class="manitaCursor" onclick=" location.href='/registro'">Únetenos!</a></p>
          </ion-toolbar>
        </ion-footer>

    </div>
  </div>
   <!-- Estor harto -->

</ion-content>