// .divFondo{
//     background-image: url(../../assets/images/fondo2.jfif);
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
// }


.footerGris{
    color: #999999;
    padding: 40px;
}

.manitaCursor{
    cursor: pointer;
}

.centpadd{
    padding: 10px;
}
.ion-no-border{
    text-align: center;
}
.button{
    width: 80%;
    height: 40px;
    color:#FF5733;
    background-color:white;
    font-size:20px;
    position: relative;
    left: 9%;
}

.button:hover{
    width: 80%;
    height: 40px;
    color:white;
    background-color:rgba(0,0,0,0);
    border: 1px solid white;
    font-size:25px;
    font-weight:700;
}