<ion-buttons slot="start">
  <ion-back-button text="Volver" color="danger" icon="add"></ion-back-button>
</ion-buttons>



<ion-content>
  <ion-content fullscreen>

    <ion-title>Login</ion-title>
    &nbsp;&nbsp;&nbsp;<p>Ey! bienvenido de vuelta juapo</p>

    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input #name [(ngModel)]='clNombre'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input #pass  type="password" [(ngModel)]='clPass'></ion-input>
    </ion-item>

    
    <ion-button expand="full" color="danger" (click)="loguearse(name.value, pass.value)">Iniciar sesión</ion-button>

  </ion-content>
  <ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="footerGris">¿No tienes cuenta? <a href="https://google.com">Únetenos!</a></p>
  </ion-toolbar>
</ion-footer>

</ion-content>