ion-content ion-toolbar {
    --background: translucent;
  }
  .der{
    float: left;
    height: 30%;
    width: 75%;
    margin-top: 5%;
    margin-left: 3%;
    position: absolute;
    text-align: left;
  }
  .iz{
    float: right;
    height: 30%;
    width: 25%;
    margin-top: 5%;
    font-size: 70%;
    margin-right: 3%;
    padding: 0px;
   position: relative;
  }
  .der1{
    float: left;
    height: 30%;
    width: 75%;
    margin-top: 40%;
    margin-left: 3%;
    position: absolute;
    text-align: left;
  }
  .iz1{
    float: right;
    height: 30%;
    width: 25%;
    margin-top: 40%;
    font-size: 70%;
    margin-right: -25%;
    padding: 0px;
   position: relative;
  }
  .der2{
    float: left;
    height: 30%;
    width: 75%;
    margin-top: 75%;
    margin-left: 3%;
    position: absolute;
    text-align: left;
  }
  .iz2{
    float: right;
    height: 30%;
    width: 25%;
    margin-top: 75%;
    font-size: 70%;
    margin-right: -25%;
    padding: 0px;
   position: relative;
  
  }
  .toolbar-background {
    background-color: blue;
  }
  