<ion-content color="transparent" fullscreen>

    <div id="divP" style="height: auto;">
        <ion-header>
            <ion-toolbar color="transparent">
                <ion-title>
                    <ion-icon style="font-size: 160%; margin-top: 1%; padding-left: 2%;" name="arrow-back-outline" (click)="volver()"></ion-icon>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <!-- Contenido -->

        <div class="centpadd inpu">
            <ion-title color="transparent" style="margin-top: 5%;">Login</ion-title>
            <h2>Ey!</h2>
            <h4>Bienvenido de vuelta juapo</h4>

            <form #loginForm="ngForm">
                <div class="inpu">
                    <ion-item color="transparent" style="margin-top: 10px;">
                        <ion-label position="floating">Nombre de usuario</ion-label>
                        <ion-input name="userName" #userName="ngModel" [(ngModel)]='loginService.selectedLogin.userName'></ion-input>
                    </ion-item>
                </div>

                <div class="inpu">
                    <ion-item color="transparent">
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input name="password" #password="ngModel" [(ngModel)]='loginService.selectedLogin.password' type="password"></ion-input>
                    </ion-item>
                </div>

                <button class="button" style="margin-top: 5%;" (click)='login(loginForm)'>Iniciar sesión</button>
            </form>
            <!-- Footer -->
            <ion-footer class="ion-no-border" style="margin-top:40%">
                <ion-toolbar color="transparent">
                    <p class="footerGris">¿No tienes cuenta? <a class="manitaCursor" onclick=" location.href='/registro'">Únetenos!</a></p>
                </ion-toolbar>
            </ion-footer>

            <br><br>
        </div>
    </div>

</ion-content>