<ion-content fullscreen>

  <div id="divP" style="height: auto;">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-icon style="font-size: 160%; margin-top: 1%; padding-left: 2%;" name="arrow-back-outline" (click)="volver()"></ion-icon>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    

  <br> <br>
  
  <div class="fondo">
    <ion-label style="color: #FF5733;">Sing Up</ion-label>
  </div>

  <br> <br>

  <div class="fondo">
    <ion-label>Hello there !</ion-label>
  </div>

  <div class="fondo">
    <ion-label>welcome to you.</ion-label>
  </div>

  <br> <br>
  <div class="inpu">
    <ion-item color="transparent">
      <ion-label style="font-size: 130%;" position="floating">Nombre: </ion-label>
      <ion-input #nombre [(ngModel)]='clNombre'></ion-input>
    </ion-item>
  </div>

  <div class="inpu">
    <ion-item color="transparent">
      <ion-label style="font-size: 130%;" position="floating">Apellido: </ion-label>
      <ion-input  #apellido [(ngModel)]='clApellido'></ion-input>
    </ion-item>
  </div>
  
  <div class="inpu">
    <ion-item color="transparent">
      <ion-label style="font-size: 130%;" position="floating">Usuario: </ion-label>
      <ion-input #user [(ngModel)]='clUser'></ion-input>
    </ion-item>
  </div>
  
  <div class="inpu">
    <ion-item color="transparent">
      <ion-label style="font-size: 130%;" position="floating">Correo: </ion-label>
      <ion-input #correo [(ngModel)]='clCorreo'></ion-input>
    </ion-item>
  </div>
  
  <div class="inpu">
    <ion-item color="transparent">
      <ion-label style="font-size: 130%;"  position="floating">Contraseña: </ion-label>
      <ion-input #pass [(ngModel)]='clPass' type="password"></ion-input>
    </ion-item>
  </div>

  
  <div class="inpu" style="width: 100%;height: 6%; text-align: center; margin-top:5% ;"> 
      <button class="button" (click)="addPerson(nombre.value, apellido.value, user.value, correo.value, pass.value)" expand="full" mode="ios">
        Guardar
      </button>
      
  <br><br><br>
  </div>
  </div>

</ion-content>
